rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		
		function isAuthorOf(res) {
			return request.auth != null && request.auth.uid == res.data.author;
		}
		match /notes/{note} {
			allow read;

			allow create: if isAuthorOf(request.resource);
			allow update, delete: if isAuthorOf(resource);
		}

		function isOwnerOf(res) {
			return request.auth != null && request.auth.uid == res.id;
		}
		match /users/{user} {
			allow read;

			allow create: if isOwnerOf(request.resource);
			allow update, delete: if isOwnerOf(resource);
		}
	}
}