.note-view {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;

	.note-header {	
		.title-input {
			padding: 0.5rem;
			font-size: 2rem;
			width: 100%;
		}

		@media screen and (max-width: 700px) {
			.title-input {
				font-size: 1.5rem;
			}
		}
	
		.note-tags {
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;

			.tags-input {
				width: 100%;
				padding: 0.25rem;
			}
	
			.tags-list {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				overflow-x: scroll;
				height: 2.5rem;
				width: 100%;;
				
				> div {
					color: var(--f-dark);
					background-color: var(--f);
					border-radius: var(--base-border-radius);
					font-size: 0.8rem;
					margin: 0 .25rem;
					padding: 0.25rem;
					white-space: nowrap;

					&::selection {
						color: var(--f);
					}
				}
			}
		}
	
	}
	
	.note-panel {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
	
		> * {
			position: absolute;
			top: 0; bottom: 0;
			width: 50%;
		}

		@media screen and (orientation: "portrait") {
			> * {
				width: 100%;
			}
		}

		.note-editor {
			left: 0;
			transition: all 0.25s ease;

			text-area {
				opacity: 0;
			}

			.react-codemirror2 {
				height: 100%;

				.CodeMirror {
					height: 100%;
				}
			}
		}
	
		.note-preview {
			overflow: auto;
			transition: all 0.25s ease;
			right: 0;
			overflow: hidden;
			
			.markdown-preview {
				width: 100%;
				height: 100%;
				transition: width 0.25s ease;
			}
		}

		&.--preview-hidden {
			.note-editor {
				width: 100%;
			}

			.note-preview {
				width: 0;

				.markdown-preview {
					width: 100vw;
				}
			}
		}
	}
}
