<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chitragupta</title>

	<link rel="manifest" href="site.webmanifest">

	<meta name="theme-color" content="#0099ff">
	<meta name="author" content="ROG.stdioh">
	<meta name="description" content="An app for taking notes. Made with ❤️ for DevLok 2021.">
	<meta name="keywords"
		content="Chitragupta, notes, note taking, DevLok, app, webapp, note taking app, ideas, writing">

	<!-- open graph meta -->
	<meta property="og:url" content="https://chitragupta.web.app">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Chitragupta">
	<meta property="og:description" content="An app for taking notes. Made with ❤️ for DevLok 2021.">
	<meta property="og:image" content="https://chitragupta.web.app/media/android-chrome-512x512.png">
	<meta property="og:image:width" content="512">
	<meta property="og:image:height" content="512">
	<meta property="og:site_name" content="Chitragupta">
	<meta property="og:locale" content="en_US">
	<meta property="article:author" content="ROG.stdioh">

	<!-- twitter meta -->
	<meta name="twitter:url" content="https://chitragupta.web.app">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Chitragupta">
	<meta name="twitter:description" content="An app for taking notes. Made with ❤️ for DevLok 2021.">
	<meta name="twitter:image" content="https://chitragupta.web.app/media/android-chrome-512x512.png">

	<link rel="shortcut icon" href="media/favicon.ico">
	<link rel="apple-touch-icon" href="media/apple-touch-icon.png">

	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
</head>

<body>
	<div id="root">
		<!-- ::APP:: -->
	</div>
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
</body>

</html>