.toolbar-box {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
	user-select: none;

	.read-only {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		
		color: var(--f);
		opacity: 0.5;
		padding: 0 1rem;
	}
	
	button {
		color: var(--f);
		opacity: 0.5;
		background: transparent;
		padding: 1rem;	
		outline: none;
		border: none;
		cursor: pointer;

		> .material-icons {
			font-size: 1.25rem;
		}
		
		&:hover {
			color: white;
			opacity: 1;
		}

		&:last-of-type {
			margin-left: auto;
		}
	}

	
	@media screen and (max-width: 520px) {
		.toolbar-box > button:last-of-type {
			margin-right: 0.5rem;
		}
	}

	@media screen and (max-width: 400px) {
		button {
			padding: 0.5rem;
		}
	}
}

