.toolbar-box {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
	
	button {
		color: #acb0b899;
		background: transparent;
		box-shadow: 0px 0px 0px transparent;
		border: 0px solid transparent;
		text-shadow: 0px 0px 0px transparent;
		padding: 1rem;	
		outline: none;
		border: none;
		cursor: pointer;
		
		&:hover {
			color: white;
			background: transparent;
			box-shadow: 0px 0px 0px transparent;
			border: 0px solid transparent;
			text-shadow: 0px 0px 0px transparent;
		}

		&:last-of-type {
			margin-left: auto;
		}
	}

	
	@media screen and (max-width: 520px) {
		.toolbar-box > button:last-of-type {
			margin-right: 0.5rem;
		}
	}

	@media screen and (max-width: 400px) {
		button {
			padding: 0.5rem;
		}
	}
}

