.markdown-preview {
	box-sizing: border-box;
	padding: 1rem;

	border-radius: 5px;
	
	background-color: #12161b;
	color: #adbac7;
	
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

	.hljs {
		border-radius: 5px;
		border: 2px solid #3f454a;
	}
}