body {
	margin: 0;
	background-color: rgb(29, 29, 29);
}

.App {
	margin: 0rem 2rem;
}

.note-header {
	display: flex;
	flex-wrap: row nowrap;
	justify-content: flex-start;
	padding: 1rem 0rem;
	color: #c7c7c7;

	> .title {
		padding: 0.5rem;
		font-size: 2rem;
		border-bottom: 2px solid #c7c7c7;
	}
}

.custom-tags {
	display: flex;
	justify-self: flex-end;
	margin-left: auto;
	justify-content: center;
	align-content: center;
	> .tags {
		margin: auto;
		height: 50%;
		width: 40vw;
		padding: 0.25rem;
		background-color: #141414;
		color: #c7c7c7;
		border: 1px solid #c7c7c7;
		outline: none;
		resize: none;
	}
}

.tagsdisplay-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow-x: scroll;
	height: 2.5rem;
	> div {
		background-color: #eaeaea;
		border-radius: 14px;
		color: #1d2094;
		margin: 0rem 0.25rem;
		padding: 0.25rem;
		white-space: nowrap;
		font-size: 0.8rem;
	}
}
.note-panel {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	transition: width 0.5s ease;
	border-bottom: 1px solid #292828;
}
.note-panel > * {
	width: 100%;
}
