@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
	font-family: 'Material Icons Round';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialiconsround/v78/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
}

:root {
	--primary: #0099ff;
	--primary-light: #97d5ff;
	--primary-dark: #003355;
	
	--bg: #262829;
	--bg-l: #36383b;
	--bg-d: #1d1f20;

	--dark: #121212;
	
	--f: #adbac7;
	--f-l: #e6edf7;
	--f-dark: #1b1c20;

	--aD: #ff8453;
	--aS: #86b374;
	
	--base-border-radius: 6px;

	--f-content: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--f-mono: Consolas, "Lucida Console", Monaco, monospace;
}

body {
	background-color: var(--bg-d);
	color: var(--f);

	font-family: var(--f-content);

	margin: 0;
}

a {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;

	height: 2.5rem;

	background-color: transparent;
	border: 2px solid var(--f);
	border-radius: var(--base-border-radius);
	color: var(--f);
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	user-select: none;
	transition: all 0.1s ease;
	
	&:hover {
		background-color: var(--f);
		border-color: transparent;
		color: var(--f-dark);
	}

	&.--right {
		justify-content: flex-end;
	}
}

input {
	color: var(--f);
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--bg-l);	
	text-overflow: ellipsis;
	overflow: hidden;
	outline: none;
	opacity: 0.75;
	font-family: var(--f-content);
	font-size: inherit;
	
	&:hover {
		background-color: var(--bg);
	}
	
	&:focus {
		opacity: 1;
		border-color: var(--f);
	}
}

*, *::before, *::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--primary-dark);
}

/* Webkit */
*::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

*::-webkit-scrollbar-track {
	background-color: #ffffff10;

	&:hover {
		background-color: #ffffff20;
	}
}

*::-webkit-scrollbar-thumb {
	background-color: var(--f);
	border-radius: 0.5rem;

	&:hover {
		background-color: var(--f-l);
	}
}

*::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* Standard: Firefox and future browsers. */
* {
	scrollbar-color: #dde3fd #ffffff10;
	scrollbar-width: thin;
}