.cm-s-theme-dark.CodeMirror {
	background-color: var(--dark);
	color: var(--f);
	line-height: 2;
	font-family: var(--f-mono);
	border-left: 2px solid transparent;
	border-radius: 0;
}

.cm-s-theme-dark.CodeMirror-focused {
	border-color: var(--f);
}

.cm-s-theme-dark .CodeMirror-gutters {
	background: var(--dark);
	border-right: 2px solid var(--bg);
	padding-right: 0.5rem;
}

.cm-s-theme-dark .CodeMirror-guttermarker,
.cm-s-theme-dark .CodeMirror-guttermarker-subtle,
.cm-s-theme-dark .CodeMirror-linenumber {
	color: var(--primary-light);
	opacity: 0.25;
}

.cm-s-theme-dark .CodeMirror-activeline-background {
	background: var(--f);
	opacity: 0.1;
}

.cm-s-theme-dark .CodeMirror-activeline-gutter .CodeMirror-linenumber {
	color: var(--f);
	opacity: 1;
}

.cm-s-theme-dark.CodeMirror pre.CodeMirror-line {
	padding-left: 0.25rem;
}

.cm-s-theme-dark .CodeMirror-cursor {
	background-color: var(--primary-light);
	border: 0.8px solid var(--primary-light);
	border-radius: 1px;
	margin-left: -0.5px;
	transform: scaleY(0.85);
	animation: cursor-expand 1s ease 0.5s infinite;
}
@keyframes cursor-expand {
	from,
	to {
		transform: scaleY(0.85);
	}
	50% {
		transform: scaleY(0);
	}
}

.cm-s-theme-dark.cm-fat-cursor .CodeMirror-cursor {
	background-color: #a2a8a175 !important;
}
.cm-s-theme-dark .cm-animate-fat-cursor {
	background-color: #a2a8a175 !important;
}

.cm-s-theme-dark div.CodeMirror-selected {
	background: rgba(113, 124, 180, 0.2);
}

.cm-s-theme-dark.CodeMirror-focused div.CodeMirror-selected {
	background: rgba(113, 124, 180, 0.2);
}

.cm-s-theme-dark .CodeMirror-line::selection,
.cm-s-theme-dark .CodeMirror-line > span::selection,
.cm-s-theme-dark .CodeMirror-line > span > span::selection {
	background: rgba(128, 203, 196, 0.2);
}

.cm-s-theme-dark .cm-keyword {
	color: #c792ea;
}

.cm-s-theme-dark .cm-operator {
	color: #89ddff;
}

.cm-s-theme-dark .cm-variable-2 {
	color: #eeffff;
}

.cm-s-theme-dark .cm-variable-3,
.cm-s-theme-dark .cm-type {
	color: #f07178;
}

.cm-s-theme-dark .cm-builtin {
	color: #ffcb6b;
}

.cm-s-theme-dark .cm-atom {
	color: #f78c6c;
}

.cm-s-theme-dark .cm-number {
	color: #ff5370;
}

.cm-s-theme-dark .cm-def {
	color: #82aaff;
}

.cm-s-theme-dark .cm-string {
	color: #c3e88d;
}

.cm-s-theme-dark .cm-string-2 {
	color: #f07178;
}

.cm-s-theme-dark .cm-comment {
	color: #8a96c7;
}

.cm-s-theme-dark .cm-variable {
	color: #f07178;
}

.cm-s-theme-dark .cm-tag {
	color: #88e7ff;
}

.cm-s-theme-dark .cm-meta {
	color: #ffcb6b;
}

.cm-s-theme-dark .cm-attribute {
	color: #c792ea;
}

.cm-s-theme-dark .cm-property {
	color: #c792ea;
}

.cm-s-theme-dark .cm-qualifier {
	color: #decb6b;
}

.cm-s-theme-dark .cm-variable-3,
.cm-s-theme-dark .cm-type {
	color: #decb6b;
}

.cm-s-theme-dark .cm-merit {
	color: #00ffbf;
}

.cm-s-theme-dark .cm-demerit {
	color: #ff6297;
}

.cm-s-theme-dark .cm-error {
	color: rgba(255, 255, 255, 1);
	background-color: #ff5370;
}

.cm-s-theme-dark .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white !important;
}